#Api port 
PORT=# number port API

# Ambiente de Desenvolvimento
NODE_ENV= # set development or production

#Sql server environments
DATABASE_NAME= #Nome do seu banco de dados ex.: "DbHausTrainingDesktopDev"
DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_USERNAME= #usuário do banco de dados ex.: "haus-training-dev"
DATABASE_PASSWORD= # senha do usuário do banco de dados ex.: "root"

# Google OAuth
GOOGLE_CLIENT_ID=seu_client_id_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_aqui
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect